.item-detail-container {
    max-width: 600px; 
    padding: 1rem;
  }
  
  .item-detail-img {
    max-width: 30%; 
    height: auto; 
    border-radius: 8px; 
  }
  
  .item-detail-text {
    margin-top: 1rem;
  }
  